!!! xml
package(xmlns="http://www.idpf.org/2007/opf", version="3.0", xml:lang="en", unique-identifier="pub-id")
  metadata(xmlns:dc="http://purl.org/dc/elements/1.1/")
    if locals.title
      dc:title(id="title") #{title}
    if locals.identifier
      dc:identifier(id="pub-id") #{identifier}
    if locals.language
      dc:language #{language}
    if locals.source
      dc:source #{source}

  manifest
    item(id="#{navItemId}, properties="#{navItemProperties}", href="#{navItemHref}", media-type="#{navItemMediaType}")
    item(id="#{coverItemId}, properties="#{coverItemProperties}", href="#{coverItemHref}", media-type="#{coverItemMediaType}")
    each mediaItemId, i in mediaItemIds
      item(id="#{mediaItemId}", href="#{mediaItemHrefs[i]}", media-type="#{mediaItemMediaTypes[i]}")
    each itemId, i in itemIds
      item(id="#{itemId}", properties="#{itemProperties[i]}", href="#{itemHrefs[i]}", media-type="#{itemMediaTypes[i]}")
      
  spine(page-progression-direction="ltr")
    each itemrefIdRef, i in itemrefIdRefs
      itemref(idref="#{itemrefIdRef}",linear="#{itemrefLinears[i]}")