/* theme for template-1 */

.ipst-epub-chapter-template-1 .ipst-epub-header-desc-panel-theme-1 {
  width: 100%;
  /*height: 100px;*/
  padding-top: 10px;
  color:black;

}

.ipst-epub-chapter-template-1 .ipst-epub-header-desc-panel-theme-2 {
  width: 100%;
  /*height: 100px;*/
  padding-top: 10px;
  background-color: lightgray;
  color:white;

}

.ipst-epub-chapter-template-1 .ipst-epub-header-desc-panel-theme-3 {
  width: 100%;
  /*height: 100px;*/
  padding-top: 10px;
  background-image: url(../img/bg-pattern-header/bg-pattern-header-1.png);
  color:white;

}

/* end theme for template-1 */