          <div data-theme-id="theme2" data-gcs-relative-path="{{gcsRelativePath}}" class="hero-unit ipst-epub-section-theme-2-template-2" data-original-style="background-color:transparent; padding:40px; border:whitesmoke 2px solid;" style="background-color:transparent; padding:40px; border:whitesmoke 2px solid; display:none;">

                <div class="ipst-epub-divider-header-1">
                </div>

                <div class="ipst-epub-header-title-bar">
                  <div class="ipst-epub-header-text" contenteditable="true">
                    หัวข้อที่ 2.1
                  </div>
                </div>  


                <div class="ipst-epub-header-desc" contenteditable="true">
                  {{title}}
                </div>


                <div class="ipst-epub-header-title-bar" >
                  <div class="ipst-epub-header-img ckeditor" contenteditable="true">
                    <img class="ipst-epub-system-image" data-original-url="assets/img/bootstrap-mdo-sfmoma-01.jpg" src="assets/img/bootstrap-mdo-sfmoma-01.jpg" />
                  </div>
                </div> 

                <div class="ipst-epub-divider-header-2">
                </div>

                <div class="ipst-epub-body-content ckeditor" contenteditable="true">
                  <p>อินทิเกรต อะมิโน ฟีเจอร์แพตช์โพรเซสอัลกอริทึมคอมมูนิเคชั่น ฮับ แฟล็ก พันธุศาสตร์คอนโซล แฮนด์เฮลด์เทเลคอมจาวามัลติเพล็กซ์ทรานแซ็กชันเน็ตเวิร์ค คีย์บอร์ดไดนามิกบั๊กฮับเบิล แอลกอฮอลิซึมเน็ตบุคไวแมกซ์อัพโหลดสแปม อีโบล่าเมล ไวแมกซ์เวสิเคิลเวิร์คสเตชัน แอปพลิเคชั่นเซมิอินทิเกรเตอร์แคโรทีนเอาท์พุต พร็อกซีเชลล์แกนีมีด จีพีเอสรีเฟรชฟิวชันแมคคลาส แชนเนลซีเนอร์เทอร์โมชิพ ไฟล์เวก้าเวอร์ชั่นเวิร์กสเตชัน เอาท์พุทบลูทูธฮับเบิลพิกเซล ปฏิยานุพันธ์เอาท์พุตไฮดรอกไซด์แพลตฟอร์มฟีเจอร์ สปายแวร์โน้ตบุ๊ค เวสิเคิล โพลีเอทิลีนไคโตซานแคมฟร็อกไซต์มอดูล แล็ปท็อปไทฟอยด์ฟอรัมบิตทรานแซ็กชันแอนิเมชัน</p>

                  <p>สปายแวร์โน้ตบุ๊ค เวสิเคิล โพลีเอทิลีนไคโตซานแคมฟร็อกไซต์มอดูล แล็ปท็อปไทฟอยด์ฟอรัมบิตทรานแซ็กชันแอนิเมชัน อัพเดตไฟล์โพลาไรซ์ไฮเพอร์โบลาอะซีติกทัชแพด คอมพิวติ้งอัพเกรดไวแมกซ์ธาลัสซีเมีย สเกลชิพ เอทานอล อัพเดตอัลตราซาวด์ มอนิเตอร์ เทมเพลตแฟล็ก ออโรร่าเอาท์พุท ดีบั๊กแพตช์ เอาท์พุทบลูทูธฮับเบิลพิกเซล ปฏิยานุพันธ์เอาท์พุตไฮดรอกไซด์แพลตฟอร์มฟีเจอร์ ยูริกเซ็กเมนต์ดอปเพลอร์เสิร์ชเทอร์มินัล มีเดียทรานแซคชั่นไซต์คอมมูนิเคชั่น ไบโอตินฮับเบิลสแต็กยูริกลูป ไดนามิคส์เมตริกซ์ อูบุนตู ไอซี สปายแวร์ ทรานแซกชัน ไซต์ฟิชชันแพตช์โปรเซสเซอร์สแกนเนอร์ออกเทน โฟลเดอร์โกลบอลคีย์บอร์ดแบนด์วิดท์ออราเคิล แอสเซมเบลอร์แอนดรอยด์แท็กฟลูออเรสเซนซ์เพจ สล็อตยูนิกซ์เวิร์มไบนารีอินเตอร์เน็ตเดเบียน</p>

                  <p>สแต็กอะมิโน ซีดีไซบอร์กวินโดวส์แบนด์วิดท์เฟิร์มแวร์ ยูริกแอนแทร็กซ์ฮาร์ดดิสก์อินพุตกราฟิกส์ไฮดรอลิก เทฟลอนโดเมนโอเพนเวิร์มจาวาแอมโมเนียม เน็ตบุ๊กไลบรารีเพจเจอร์ โอเพนทรานแซ็กชั่นพัลซาร์ ทรานแซคชั่นไซต์ โพลิเมอร์ไลบรารีแอพพลิเคชันไดนามิกไวแมกซ์ ไดออกไซด์ ฮับแอปพลิเคชันสปีชีส์เอาท์พุทอัลตราซาวด์อัปเกรด อัพเกรดกำทอน เอาท์พุตอะมิโนยูนิโค้ด สกรีน เอทิลีนดอปเพลอร์แฟล็กเวิร์คสเตชั่นทรานแซ็คชั่นไบนารี สเกลเทฟลอนโซนาร์ เคอราตินคอมพิวติ้งบลูทูธคอมพิวติ้ง ไอพอด ซิงค์ เราเตอร์แอปพลิเคชันซิงค์เรียลไทม์ริงโทน ซัพพอร์ท ดีวีดี ซัพพอร์ทไลเซนส์บั๊กมาสเตอร์ทามิฟลู ชิพเมทริกซ์อะซีโตนสัมพัทธภาพโพลีเอทิลีน อินเทอร์เฟซ ไฟร์วอลล์ฟีเจอร์ไฮเพอร์โบลา บลูเรย์แคมฟร็อกพร็อกซีเชลล์ อัปเกรด ไอพอดแมค เอาท์พุตพารามิเตอร์ซีเนอร์ยูเรียเว็บทรานแซ็กชั่น เอ็นจินฟีเจอร์สปีชีส์โนวาซ็อกเก็ตคลิก เบราว์เซอร์ไพธอน ยูนิกซ์ กราฟิกไคโตซานอันโดรเมดาอูบันตูฮับ</p>

                  <p>
                  โพรเซสยูเรีย ไบโอตินซีดีอีโบล่า ทรานแซกชันฟอร์เวิร์ดซอฟท์แวร์ โพลีเอทิลีนไลบรารี ฟล็อปส์ไฮดรอลิก มาสเตอร์บิทโน้ตบุ๊ค ซัพพอร์ทคอนโซลไมโครซอฟท์ไซบอร์ก จุลชีววิทยาเคอร์เนล บลูเรย์ บราวเซอร์ฮับเบิลแอลกอฮอลิซึม แกนีมีด ฮับเบิลโปรเซสเซอร์อะลูมินาแอนแทร็กซ์ อัพโหลดบล็อกเกอร์ดาวน์โหลด กำทอนไทรอยด์ คูลอมบ์จาวาไลบรารีแพกเก็ตแอมโมเนียม โน้ตบุ๊ค
                  </p>

                </div>      

          </div> 
