      <div data-theme-id="theme1" data-gcs-relative-path="{{gcsRelativePath}}" class="hero-unit ipst-epub-dedication-theme-1-template-1" data-original-style="background-color:transparent; padding:40px; border:whitesmoke 2px solid;" style="background-color:transparent; padding:40px; border:whitesmoke 2px solid; display:none;">
              <div class="ipst-epub-head">

                <div class="ipst-epub-header-desc" contenteditable="true">
                  {{title}}
                </div>

                <div class="ipst-epub-divider-header">
                  <hr/>
                </div>

                <div class="ipst-epub-body-space">

                </div>   

                <div class="ipst-epub-body-content ckeditor" contenteditable="true">
                  <p><em>ซิลิกาพาราเซตามอลปฏิยานุพันธ์อีโบลาเมาส์ ดีไวซ์พาราโบลาคูลอมบ์ซีดีรอมคลิกริงโทน ทรานแซกชันอะซีโตนอัพเกรด โมเมนตัมแคร็กเอทิลีน รีเลย์อูบันตูเทฟลอนดอสไฟร์วอลล์สแต็ก คีย์สเปซออฟไลน์</em></p>

                  <p><em>
                  พันธุศาสตร์ซัลฟิวริกเมาส์ ทวีตจีพีเอสไทฟอยด์เครือข่ายเพอร์ออกไซด์ไมโครซอฟท์ ลีนุกซ์เวิร์มแอนดรอยด์เดลไฟเมาส์ พอร์ต ไซบอร์ก อีเมลอะซีโตน
                  </em></p>

                  <p><em>โปรเซสเซอร์โพรเซสเซอร์ทรานแซกชันไฟร์ฟอกซ์เมตริกซ์ สุริยจักรวาลซัพพอร์ทกราฟิกส์ดีไวซ์ เมลามีนยูเรียไซต์์ ออฟไลน์เวิร์คสเตชั่นเอนจินอาร์กิวเมนต์คูลอมบ์ ฟอร์แมตไทฟอยด์ เวิร์ม</em></p>
                </div>

              </div>
          </div>  
