          <div data-theme-id="theme3" data-gcs-relative-path="{{gcsRelativePath}}" data-theme-id="theme3" data-gcs-relative-path="{{gcsRelativePath}}" class="hero-unit ipst-epub-chapter-theme-3-template-2 ipst-epub-contain-background" data-original-style="background-image:url(assets/img/bg-pattern-header/bg-pattern-header-6.png); padding:30px 60px 60px 60px; border:whitesmoke 2px solid;" style="background-image:url(assets/img/bg-pattern-header/bg-pattern-header-6.png); padding:30px 60px 60px 60px; border:whitesmoke 2px solid; display:none;">

                <div class="ipst-epub-header-title-bar">
                  <div class="ipst-epub-header-text" contenteditable="true">
                    บ ท ที่  &nbsp;1
                  </div>
                </div> 


                <div class="ipst-epub-line-header">
                  <img class="ipst-epub-system-image" data-original-url="assets/img/bg-pattern-header/line-header-10.png" src="assets/img/bg-pattern-header/line-header-10.png" style="width:90%" /> 
                </div>


                <div class="ipst-epub-header-desc" contenteditable="true">
                  {{title}}
                </div>



                <div class="ipst-epub-header-img ckeditor" contenteditable="true">
                  <img class="ipst-epub-system-image" data-original-url="assets/img/vector-img-4.jpg" src="assets/img/vector-img-4.jpg" class="img-polaroid"/>
                </div>


                <div class="ipst-epub-body-content ckeditor" contenteditable="true">
                  <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; อินทิเกรต อะมิโน ฟีเจอร์แพตช์โพรเซสอัลกอริทึมคอมมูนิเคชั่น ฮับ แฟล็ก พันธุศาสตร์คอนโซล แฮนด์เฮลด์เทเลคอมจาวามัลติเพล็กซ์ทรานแซ็กชันเน็ตเวิร์ค คีย์บอร์ดไดนามิกบั๊กฮับเบิล แอลกอฮอลิซึมเน็ตบุคไวแมกซ์อัพโหลดสแปม อีโบล่าเมล ไวแมกซ์เวสิเคิลเวิร์คสเตชัน แอปพลิเคชั่นเซมิอินทิเกรเตอร์แคโรทีนเอาท์พุต พร็อกซีเชลล์แกนีมีด จีพีเอสรีเฟรชฟิวชันแมคคลาส แชนเนลซีเนอร์เทอร์โมชิพ ไฟล์เวก้าเวอร์ชั่นเวิร์กสเตชัน เอาท์พุทบลูทูธฮับเบิลพิกเซล ปฏิยานุพันธ์เอาท์พุตไฮดรอกไซด์แพลตฟอร์มฟีเจอร์ สปายแวร์โน้ตบุ๊ค เวสิเคิล โพลีเอทิลีนไคโตซานแคมฟร็อกไซต์มอดูล แล็ปท็อปไทฟอยด์ฟอรัมบิตทรานแซ็กชันแอนิเมชัน สแต็กอะมิโน ซีดีไซบอร์กวินโดวส์แบนด์วิดท์เฟิร์มแวร์ ยูริกแอนแทร็กซ์ฮาร์ดดิสก์อินพุตกราฟิกส์ไฮดรอลิก เทฟลอนโดเมนโอเพนเวิร์มจาวาแอมโมเนียม เน็ตบุ๊กไลบรารีเพจเจอร์ โอเพนทรานแซ็กชั่นพัลซาร์ ไซบอร์กแพตช์เอาท์พุทฟีโรโมนลีนุกซ์อัปโหลด ยูริกบัฟเฟอร์แฮนด์เฮลด์ครอสพาเนล โซลูชั่นเดสก์ท็อปซัลไฟด์ เน็ตเวิร์คเบราว์เซอร์โพลาไรซ์อันโดรเมดาปฏิยานุพันธ์อีเมล แชนแนลเราเตอร์ อัพโหลด อะมิโนแคโรทีนไดรว์ไดนามิกส์อีโบล่า ซ็อกเก็ตอัลตราซาวด์</p>

                </div>  

            </div>
