{{#each .}}
	<div style="float: left;">
		<a href="/edit.jsp?publicationId={{id}}&version={{version}}" target="_blank">
			<img alt="{{title}}" title="{{title}}" data-url="{{coverUrl}}" src="/assets/img/book-covers/book-cover-preview-book-item.png" style='display:none; cursor:pointer; width: 63px; margin-right: 10px; margin-top: 10px;' />
		</a>
	</div>
{{/each}}
