<!DOCTYPE html>

<!--
Template Admin for IPST learning space
Author: Gaoey
-->

<!-- <%@page import="th.ac.ipst.epub.oauth.UserValidator" %>
<%@page contentType="text/html;charset=UTF-8" %>
<%
UserValidator validator=new UserValidator();
%> -->
<html>


<!-- <% if(true) {
Long authorId = Long.parseLong("1");
String authorDisplayName="Than Htut Soe";
Boolean newMember=false;
Long publicationId=Long.valueOf(request.getParameter("publicationId"));
String version=request.getParameter("version");
%> -->
<head>
	<meta charset="utf-8">


	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/gaoey-style.css" rel="stylesheet">
	<link rel="stylesheet" href="js/jqueryUi/jquery-ui.css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="js/jquery.leanModal.min.js"></script>
	<script src="lib/handlebars.js"></script>
	<script src="js/jqueryUi/jquery-ui.js"></script>

	<title>Admin_ipst</title>




	<!-- for handlebars  -->
	<script id="books-template" type="text/x-handlebars-template">
	<tr class="item">
	<td width="7%" class="image-item"><img src="images/1.jpg" style="width:49px; height:64px;"></td>
	<td width="20%">{{ this.title }}</td>
	<td width="23%">{{ this.authorId }}</td>
	<td width="12%">{{ this.type }}</td>
	<td width="10%">{{ this.dateCreated }}</td>
	<td widht="4%"><a rel="leanModal" name="editPopup" href="#editPopup" ><button id={{ this.id }} class="edit btn btn-info">EDIT</button></a></td>
	<td widht="4%"><button class="delete btn btn-info" id={{ this.id }} >DELETE</button></td>
	</tr>
	</script>

	<script id="authors-template" type="text/x-handlebars-template">
	<tr class="item">
	<td width="7%" class="image-item"><img src="images/1a.jpg" style="width:49px; height:64px;"></td>
	<td width="25%">{{ this.displayName }}</td>
	<td width="20%">{{ this.email }}</td>
	<td width="20%">{{ this.publicationCount }}</td>
	<td widht="4%"><a rel="leanModal" name="editPopup" href="#editPopup" ><button id={{ this.id }} class="edit btn btn-info">EDIT</button></a></td>
	<td widht="4%"><button class="delete btn btn-info" id={{ this.id }} >DELETE</button></td>
	</tr>
	</script>

	<script id="update-book-template" type="text/x-handlebars-template">
	<tr>
	<td>ชื่อหนังสือ</td>
	<td><input type="text" id="book-title" value={{ this.title }}></td>
	<td>Author ID</td>
	<td><input type="text" id="book-authorId" value={{ this.authorId }}></td>
	</tr>
	<tr>
	<td>Author</td>
	<td><input type="text" id="book-author" value={{ this.authors }}></td>
	<td>Author types</td>
	<td><input type="text" id="book-authorType" value={{ this.authorsTypes }}></td>
	</tr>

	<tr>
	<td>coverURL</td>
	<td><input type="text" id="book-coverUrl" value={{ this.coverUrl }}></td>
	<td>Date Created</td>
	<td><input type="text" id="book-date" value={{ this.dateCreated }}></td>
	</tr>
	<tr>
	<td>Description</td>
	<td><input type="text" id="book-desc" value={{ this.description }}></td>
	<td>Discipines</td>
	<td><input type="text" id="book-disc" value={{ this.discipines }}></td>
	</tr>
	<tr>
	<td>Grades</td>
	<td><input type="text" id="book-grade" value={{ this.grades }}></td>
	<td>Media types</td>
	<td><input type="text" id="book-media" value={{ this.mediaTypes }}></td>
	</tr>
	<tr>
	<td>Other Titles</td>
	<td><input type="text" id="book-otherTitle"  value={{ this.otherTitles }}></td>
	<td>Publication Group Id</td>
	<td><input type="text" id="book-publicationGroup" value={{ this.publicationGroupId }}></td>
	</tr>

	<tr>
	<td>Resource Type</td>
	<td><input type="text" id="book-resourceType" value={{ this.resourceTypes }}></td>
	<td>Status</td>
	<td><input type="text" id="book-status" value={{ this.status }}></td>
	</tr>
	<tr>
	<td>Theme Id</td>
	<td><input type="text" id="book-themeId" value={{ this.themeId }}></td>
	<td>Type</td>
	<td><input type="text" id="book-type" value={{ this.type }}></td>
	</tr>
	<tr>
	<td>Version</td>
	<td><input type="text" id="book-version" value={{ this.version }}></td>
	<td>Version Date Created</td>
	<td><input type="text" id="book-version-date" value={{ this.versionDateCreated }}></td>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td><button id="book-update" class="btn bt-info">update</td>
	</tr>
	</script>

	<script id="update-author-template" type="text/x-handlebars-template">

	<tr>
	<td>Author Name</td>
	<td><input type="text" id="author-name" value={{ this.displayName }}></td>
	<td>About</td>
	<td><input type="text" id="author-about" value={{ this.about }}></td>
	</tr>
	<tr>
	<td>Date Of Member</td>
	<td><input type="text" id="author-dateOfMember" value={{ this.dateOfMember }}></td>
	<td>Email</td>
	<td><input type="text" id="author-email" value={{ this.email }}></td>
	</tr>
	<tr>
	<td>Identity Provider</td>
	<td><input type="text" id="autor-idProvider" value={{ this.identityProvider }}></td>
	<td>Publication Count</td>
	<td><input type="text" id="author-publicationCount" value={{ this.publicationCount }}></td>
	</tr>
	<tr>
	<td>Other Info</td>
	<td><input type="text" id="author-info"  value={{ this.userInfo }}></td>
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td><button id="author-update" class="btn bt-info">update</td>
	</tr>
	</script>
</head>

<body
<div class="container">
	<div class="header" style="min-width:700px;">
		<h1>Administrator</h1>
	</div>
	<hr>
	<!-- Search $ List -->
	<div class="row">
		<div class="col-xs-12">
			<div class="well header-filter-table" style="height:38px !important"><p class="header-text">Search & List</p></div>
			<div class="well body-filter-table">
				<div class="row" style="margin-left:50px;">

					<div id="areaSearchBook"class="col-xs-8 visible">

						<input type="radio" name="select-search" value="book">Book
						<input type="radio" name="select-search" value="author">Author
						<input type="text" id="search" placeholder="Search Here.." style="width:400px;height:32pxborder-radius:4px;border:1px solid transparent ;">
						<button id="btnSearch" class="btn btn-info">Search</button>
					</div>

					<div class="col-xs-4">
						<button id="btnBook" class="btn btn-info">List Book</button>
						<button id="btnAuthor" class="btn btn-info">List Author</button>
					<a class="btn btn-primary btn-lg" href="#fade" data-toggle="modal" id="btn-fade">fade</a>
					</div>
                        
				</div>
			</div>
		</div>
	</div>

	<!-- table content list author & book -->
	<div id="listBook" class="row visible">
		<div class="col-xs-12">
			<h2>Books</h2>
		</div>
		<div class="col-xs-12">
			<div class="well header-title-table" style="padding: 5px 0; height:40px;">
				<table class="table table-striped">
					<thead>
						<tr>
							<th width="7%"></th>
							<th width="20%">ชื่อเรื่อง</th>
							<th width="22%">ผู้แต่ง</th>
							<th width="12%">กลุ่มสาระวิชา</th>
							<th width="10%">ระดับชั้นเรียน</th>
							<th width="10%" style="text-align:left;">วันที่เผยแพร่</th>
							<th width="10%" style="text-align:left;padding-left:17px;">แก้ไข</th>
							<th width="10%" style="text-align:left;">ลบ</th>
						</tr>
					</thead>
				</table>
			</div>
			<!-- handlesbars book template -->
			<div class="well body-table">
				<table class="table table-striped table-bordered">

					<tbody id="showcontentBook">

						<tbody id="items">


						</tbody>
					</table>
				</div>
				<!-- end handlebars -->
				<div class="well footer-table"></div>
			</div>
		</div>

		<div id="listAuthor" class="row hidden">
			<div class="col-xs-12">
				<h2>Authors</h2>
			</div>
			<div class="col-xs-12">
				<div class="well header-title-table" style="padding: 5px 0; height:40px;">
					<table class="table table-striped">
						<thead>
							<tr>
								<th width="7%"></th>
								<th width="25%">ชื่อผู้แต่ง</th>
								<th width="30%">หนังสือที่แต่ง</th>
								<th width="20%">คำนิยม</th>
								<th width="10%" style="text-align:left;padding-left:17px;">แก้ไข</th>
								<th width="10%" style="text-align:left;">ลบ</th>
							</tr>
						</thead>
					</table>
				</div>
				<!-- handlesbars author template -->
				<div class="well body-table">
					<table class="table table-striped table-bordered">

						<tbody id="showcontentAuthor">

							<tbody id="items">


							</tbody>
						</table>
					</div>
					<!-- end handlebars -->
					<div class="well footer-table"></div>
				</div>
			</div>


			<!-- show pop-up edit -->

			<div id="editPopup" class="dialog_well" style="margin-left:-500px;width:80%;">
				<div class="well header-filter-table" style="height:50px;"><h1 style="margin-top:0px;margin-left:40px;color:white;">Edit</h1></div>
				<div>
					<div id="image-dialog" style="width:30%;float:left;margin:10px">
						<img src="images/1a.jpg" style="width:200px;height:300px;">
					</div>
					<div style="width:60%;float:left;margin:10px">
						<table id="editForm" class="visible" style=" border-collapse: separate;border-spacing: 10px;text-align:right;margin:auto;">
							<!-- //handlebar -->
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div style="float:right;">
		<h5>Punsarn Asia Developer Team, Copyright 2014</h5>
	</div>


    

    <div class="modal fade" id="fade" role="dialog">
       <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
                Please Wait
            </div>
           
               <div class="col-lg-5">
               <center>
               <span id="spinner"></span>
               <spacer height="100"></spacer>
               </center>
               <button style="display:none" id="btn-back" href="#" data-dismiss="modal">back</button>
               </div>
            
         </div>
       </div>
    </div>  

	<script src="js/main/tool.js"></script>
	<script src="js/author/tool.js"></script>
	<script src="js/author/connect.js"></script>
	<script src="js/book/tool.js"></script>
	<script src="js/book/connect.js"></script>
	<!--script src="js/search/tool.js"></script-->
	<!--script src="js/search/connect.js"></script-->
	<script src="js/prototype/connect.js"></script>
	<script src="js/spin.js"></script>
	<script type="text/javascript">Tool.init()</script>

</div>


</body>
</html>
