<!DOCTYPE html>

<!--
Template Admin for IPST learning space
Author: Gaoey
-->

<!-- <%@page import="th.ac.ipst.epub.oauth.UserValidator" %>
<%@page contentType="text/html;charset=UTF-8" %>
<%
UserValidator validator=new UserValidator();
%> -->
<html>


<!-- <% if(true) {
Long authorId = Long.parseLong("1");
String authorDisplayName="Than Htut Soe";
Boolean newMember=false;
Long publicationId=Long.valueOf(request.getParameter("publicationId"));
String version=request.getParameter("version");
%> -->
<head>
  <meta charset="utf-8">

  <link href="css/gaoey-style.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <title>LogIn</title>
</head>
<body>
  <div class="container">
    <div class="row" style="margin-top:200px;">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="header-filter-table" style="height:38px;"><p class="header-text">LogIn</p></div>
        <div class="well body-filter-table" style="height:180px;">
          <div class="row" style="margin-left:50px;">

            <div class="col-xs-6 col-xs-offset-1">
              <table style=" border-collapse: separate;border-spacing: 10px;">
                <tr>
                  <td>USERNAME</td>
                  <td><input type="text" id="username" style="border-radius:4px;border:1px solid transparent ;"></td>
                </tr>
                <tr>
                  <td>PASSWORD</td>
                  <td><input type="text" id="password" style="border-radius:4px;border:1px solid transparent ;"></td>
                </tr>
                <tr>
                  <td></td>
                  <td><button id="login" class="btn btn-info">Log In</button>
                  </td>
                </tr>

              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>
