{{#each .}}
	<li id='{{id}}' class='book-item' style='display:none;'>
		<img class='book-icon' data-url="{{coverUrl}}" src="/assets/img/book-covers/book-cover-preview-book-item.png" style='display:none; cursor:pointer;' data-book="{{jsonStringify .}}" />
	</li>
{{/each}}
