{{#each urls}}
	<div class="panel-book-cover" style="display:inline-block; position:relative;">
		<i class="icon-trash icon-black icon-trash-book-cover" style="display:none;"></i>
		<img data-url='{{url}}' src="/assets/img/book-covers/book-cover-preview-template.png" style="box-shadow: 1px 1px 2px 1px #BABABA;"/>
	</div>
{{/each}}
