{{#each .}}
	<div style="margin-left:20px; padding: 10px; height: display:inline-block; position:relative;">
		<audio id="{{id}}" controls="controls" class="myCKAudio img-polaroid" style="width: 200px; height: 30px;" data-url="{{mediaUrl}}" />
		&nbsp;&nbsp;&nbsp; <span>{{getFileNameFromUrl mediaUrl}}</span>
  	</div>
{{/each}}
