{{#each .}}
	<div style="margin-left:20px; padding: 10px; display:inline-block; position:relative;">
		{{! http://davidejones.com/blog/258-css3-image-sizing-aspect-ratio/ }}
    	<img id="{{id}}" class="myCKImage img-polaroid" data-url="{{mediaUrl}}" src="/assets/img/book-covers/preLoadingImgUploadTemplate.png" style="height: 80px; width:80px; margin-left:5px; padding: 10px; object-fit:contain; -moz-object-fit:contain; -ms-object-fit:contain; -o-object-fit:contain; -webkit-object-fit:contain;"></img>
  	</div>
{{/each}}