{{#each .}}
	<div style="width:100px; margin-left:20px; display:inline-block; position:relative;" id="manageMedia{{id}}">
		{{! http://davidejones.com/blog/258-css3-image-sizing-aspect-ratio/ }}
    	<img data-media='{{jsonStringify .}}' data-url="{{mediaUrl}}" src="/assets/img/book-covers/preLoadingImgUploadTemplate.png" class="img-polaroid myImage" style="height: 80px; width:80px; object-fit:contain; -moz-object-fit:contain; -ms-object-fit:contain; -o-object-fit:contain; -webkit-object-fit:contain;">
        <div style="margin-top:10px; margin-bottom:20px;">
            <button class="btn btn-mini btn-download-img-resource" type="button" style="width:58px;">
            	<i class="icon-download-alt icon-black"></i>
            </button>
            <button class="btn btn-mini btn-delete-img-resource" type="button">
                <i class="icon-trash icon-black"></i>
       		</button>
      	</div>  
  	</div>
{{/each}}