<style>
/*Gaoey Stylesheet for using learning space of IPST*/

.text-transparent{
  border-radius:4px;
  border:1px solid transparent ;
}
.image-item{
  text-align:center;
}
.edit > a{
  color:white;
}
.hidden{
  display:none;
}
.visible{
  display:block;
}

tbody{
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.item{
  height:70px;
}
th{
  text-align:center;
}
.header-text{
  margin-left:20px;
}

#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}

.dialog_well{
  display:none;
  background-color: #f5f5f5;
  border-radius:4px;
  width:700px;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.header-title-table {
  padding: 8px 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 0px;
  min-height: 20px;
  margin-bottom: 0px;
  background-color: whitesmoke;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.footer-table {
  padding: 8px 15px;
  height: 25px;
  text-align: right;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: -22px;
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.header-filter-table {
  height: 20px;
  padding: 8px 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 0px;
  min-height: 20px;
  margin-bottom: 0px;
  background-color: rgb(92, 189, 202);
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.body-filter-table {
  height: 140px;
  padding: 40px 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: 0px;
  background-color: rgb(234, 240, 241);
}
#btn-fade{
  display: none;
}
</style>
